@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{width: 100%;
    background-color: white;
    height: 100vh;
    display: flex;
}
.first-sec{width: 20%;
    background-color: rgb(251, 249, 245);
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* align-items: center; */
    justify-content: space-between;
    height: 110vh;
}
.head-sec{height: 100px;
        display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.hero-sec{height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
    
    /* background-color: red; */
    /* justify-content: flex-start; */
}
.hero-sec ul{height: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero-sec li{
    margin-left: 40px;
    list-style: square;
}

.round-btn{
    
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: black;
    color: white;
    
}
.icon-sec i{
    font-size: 30px;
    
}
.icon-sec{width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.r-btn{
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    
}
.h-one{padding: 7px;
    /* margin-top: 50px; */
    background-color: rgb(234, 233, 231);
}
.second-sec{padding: 40px;
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110vh;
}
.third-sec{padding: 40px;
    height: 110vh;
    width: 35%;
    background-color: rgb(251, 249, 245);
    border-right: 1px solid black;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.fourth-sec{padding: 20px;
    width: 10%;
    background-color: rgb(251, 249, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110vh;
}
.fourth-sec span{height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* .icon-sec{
    height: 300px;
} */
.fourth-sec img{
    height: 50px;
}
.plan-sec{width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plan-sec p{
    color: gray;
    margin-top: 5px;
}
.plus-btn{
    background-color: black;
    color: white;
    padding: 14px 15px;
    border-radius: 30px;
    
}
.image-sec img{
    width: 365px;
    height: 180px;
}
.simage-sec{width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.image-one img{
    width: 160px;
    height: 200px;
}
.image-two img{
    width: 160px;
    height: 200px;
    
}

.f-text{padding: 15px;
    width: 370px;
    height: 110px;
    border: 1.5px solid rgb(219, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.t-text{
    display: flex;
    justify-content: space-between;
    
}
.t-text span{height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.last-sec{width: 110%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.end-sec{width: 400px;
    display: flex;
    justify-content: space-evenly;
}
.end-sec img{
    height: 50px;
}

@media(max-width:768px){
    .container{height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .first-sec{
        width: 100%;
        height: 70vh;
       
    }
    .second-sec{
        width: 100%;
        height: 130vh;
        display: flex;
        justify-content: space-between;
    }
    .simage-sec{height: 50vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    /* .image-one img{
        width: 280px;
        height: 370px;
    }
    .image-two img{
        width: 280px;
        height: 370px;
    } */
    .image-sec img{
        width: 300px;
        height: 220px;
    }
    .third-sec{
        width: 100%;
        border-right: none;
        display: flex;
        align-items: center;
    
        height: 130vh;
    }
    .f-text{
        width: 300px;
    }
    .view-sec{
        display: none;
    }
    .D-sec{
        display: none;
    }
    .fourth-sec{height: 50vh;
        width: 100%;
    }
   
}